h1 {
  color: gray;
  font-family: 'Arial', ;
  font-size: 48px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: ;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  color: brown;
  font-family: 'Times New Roman', Times, serif;
}

p {
  color: gray;
  font-family: 'Times New Roman';
}
img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
 height: 35px;
    }
ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
     
